In [1]:
!apt-get -qq update > /tmp/apt.out
!apt-get install -y -qq openjdk-11-jdk-headless
!(wget -q --show-progress -nc https://archive.apache.org/dist/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz)
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
try:
  import pyspark, findspark, delta
except:
  %pip install -q --upgrade pyspark==3.2.1
  %pip install -q findspark
  %pip install -q delta

spark-3.2.1-bin-had 100%[===================>] 287.03M  12.7MB/s    in 24s
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 2.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.0/199.0 kB 19.3 MB/s eta 0:00:00
  Building wheel for pyspark (setup.py) ... done
  Preparing metadata (setup.py) ... done
  Building wheel for delta (setup.py) ... done

In [2]:
!pip install gcsfs

Requirement already satisfied: gcsfs in /usr/local/lib/python3.10/dist-packages (2023.6.0)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.10/dist-packages (from gcsfs) (3.9.3)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.10/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: fsspec==2023.6.0 in /usr/local/lib/python3.10/dist-packages (from gcsfs) (2023.6.0)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.10/dist-packages (from gcsfs) (2.27.0)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.10/dist-packages (from gcsfs) (1.2.0)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.10/dist-packages (from gcsfs) (2.8.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from gcsfs) (2.31.0)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (23.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.4.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (6.0.5)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.9.4)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (4.0.3)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth>=1.2->gcsfs) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth>=1.2->gcsfs) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth>=1.2->gcsfs) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.10/dist-packages (from google-auth-oauthlib->gcsfs) (1.4.0)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage->gcsfs) (2.11.1)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage->gcsfs) (2.3.3)
Requirement already satisfied: google-resumable-media>=2.3.2 in /usr/local/lib/python3.10/dist-packages (from google-cloud-storage->gcsfs) (2.7.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->gcsfs) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->gcsfs) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->gcsfs) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->gcsfs) (2024.2.2)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (1.63.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /usr/local/lib/python3.10/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (3.20.3)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.10/dist-packages (from google-resumable-media>=2.3.2->google-cloud-storage->gcsfs) (1.5.0)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.5.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.10/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.2)

In [3]:
!(wget -O /content/spark-3.2.1-bin-hadoop3.2/jars/gcs-connector-hadoop2-latest.jar  -q https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop3.2-latest.jar)

In [4]:
import findspark
import pyspark
import os
from pyspark.sql.functions import *

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"

findspark.init()
MAX_MEMORY="8g"

spark = (pyspark.sql.SparkSession.builder.appName("MyApp")
    .config("spark.executor.memory", MAX_MEMORY)
    .config("spark.driver.memory", MAX_MEMORY)
    .getOrCreate()
    )

spark

In [ ]:
#spark.stop()

In [5]:
!wget https://storage.googleapis.com/bigdata_training/Titanic.parquet

--2024-03-13 19:39:51--  https://storage.googleapis.com/bigdata_training/Titanic.parquet
Resolving storage.googleapis.com (storage.googleapis.com)... 64.233.188.207, 64.233.189.207, 108.177.97.207, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|64.233.188.207|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 40013 (39K) [application/octet-stream]
Saving to: ‘Titanic.parquet’

Titanic.parquet     100%[===================>]  39.08K  --.-KB/s    in 0.05s

2024-03-13 19:39:53 (720 KB/s) - ‘Titanic.parquet’ saved [40013/40013]

In [6]:
df_passengers = spark.read.parquet("Titanic.parquet")
df_passengers.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [15]:
#Gemiden kurtulma durumuna göre ödenen en yüksek ve en düşük bilet fiyatını bulunuz.
df_passengers.groupBy("Survived") \
    .agg(max("Fare").alias("Max_Bilet_Fiyatı"), min("Fare").alias("Min_Bilet_Fiyatı")) \
    .withColumn("Durum", when(col("Survived") == 1, "Hayatta Kalanlar").otherwise("Hayatta Kalamayanlar")) \
    .select("Durum", "Max_Bilet_Fiyatı", "Min_Bilet_Fiyatı") \
    .show()

+--------------------+----------------+----------------+
|               Durum|Max_Bilet_Fiyatı|Min_Bilet_Fiyatı|
+--------------------+----------------+----------------+
|Hayatta Kalamayanlar|           263.0|             0.0|
|    Hayatta Kalanlar|        512.3292|             0.0|
+--------------------+----------------+----------------+

In [13]:
#Yolcuların(18 yaş ve altı çocuklar hariç) cinsiyete göre ortalama yaşlarını bulunuz.
df_passengers.where(col("Age") > 18) \
             .groupBy("Sex") \
             .agg(avg("Age").alias("Ortalama_Yaş")) \
.show()

+------+------------------+
|   Sex|      Ortalama_Yaş|
+------+------------------+
|female| 33.90673575129534|
|  male|34.480366492146594|
+------+------------------+

In [7]:
#Aynı kabinde yolculuk yapan erkek ve kadınların eşleşmesi yapılması için aşağıdaki sorgu yazılmışmış fakat sorguda ufak bir eksiklik var, eksik olan parçayı tamamlayınız.
df_passengers.alias("m") \
.join(df_passengers.alias("f"),
      on=((col("m.Cabin")==col("f.Cabin"))),
      how="inner") \
.where(col("f.Sex")=="male") \
.where(col("m.Sex")=="female") \
.select(col("m.Cabin"),col("f.Name").alias("Erkek Yolcu"),col("m.Name").alias("Kadın Yolcu")).show(100,200)

+-----------+------------------------------------------+----------------------------------------------------------------------------------+
|      Cabin|                               Erkek Yolcu|                                                                       Kadın Yolcu|
+-----------+------------------------------------------+----------------------------------------------------------------------------------+
|       C123|               Futrelle, Mr. Jacques Heath|                                      Futrelle, Mrs. Jacques Heath (Lily May Peel)|
|        D33|                 Harper, Mr. Henry Sleeper|                                          Harper, Mrs. Henry Sleeper (Myna Haxtun)|
|C23 C25 C27|                         Fortune, Mr. Mark|                                                        Fortune, Miss. Mabel Helen|
|C23 C25 C27|            Fortune, Mr. Charles Alexander|                                                        Fortune, Miss. Mabel Helen|
|         C2|                 Pears, Mr. Thomas Clinton|                                                 Pears, Mrs. Thomas (Edith Wearne)|
|        C83|               Harris, Mr. Henry Birkhardt|                                      Harris, Mrs. Henry Birkhardt (Irene Wallach)|
|        B49|                   Bishop, Mr. Dickinson H|                                           Bishop, Mrs. Dickinson H (Helen Walton)|
|    C22 C26|            Allison, Master. Hudson Trevor|                                                      Allison, Miss. Helen Loraine|
|    B58 B60|                  Baxter, Mr. Quigg Edmond|                                   Baxter, Mrs. James (Helene DeLaudeniere Chaput)|
|        C65|Penasco y Castellana, Mr. Victor de Satode|Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)|
|          D|                    Levy, Mr. Rene Jacques|                                                           Ball, Mrs. (Ada E Hall)|
|C23 C25 C27|                         Fortune, Mr. Mark|                                                    Fortune, Miss. Alice Elizabeth|
|C23 C25 C27|            Fortune, Mr. Charles Alexander|                                                    Fortune, Miss. Alice Elizabeth|
|        C78|               Minahan, Dr. William Edward|                                                            Minahan, Miss. Daisy E|
|    B96 B98|       Carter, Master. William Thornton II|                                                         Carter, Miss. Lucile Polk|
|    B96 B98|                Carter, Mr. William Ernest|                                                         Carter, Miss. Lucile Polk|
|          D|                    Levy, Mr. Rene Jacques|                                      Jerwan, Mrs. Amin S (Marie Marthe Thuillard)|
|        C93|              Hoyt, Mr. Frederick Maxfield|                                   Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)|
|    C22 C26|            Allison, Master. Hudson Trevor|                                   Allison, Mrs. Hudson J C (Bessie Waldo Daniels)|
|        B22|              Crosby, Capt. Edward Gifford|                                                           Crosby, Miss. Harriet R|
|        E67|                         Taussig, Mr. Emil|                                            Taussig, Mrs. Emil (Tillie Mandelbaum)|
|        E44|                 Silvey, Mr. William Baird|                                         Silvey, Mrs. William Baird (Alice Munger)|
|        C68|                  Thayer, Mr. John Borland|                              Thayer, Mrs. John Borland (Marian Longstreth Morris)|
|         F4|                 Becker, Master. Richard F|                                                       Becker, Miss. Marion Louise|
|       C126|                  Taylor, Mr. Elmer Zebley|                                 Taylor, Mrs. Elmer Zebley (Juliet Cummins Wright)|
|    B96 B98|       Carter, Master. William Thornton II|                                         Carter, Mrs. William Ernest (Lucile Polk)|
|    B96 B98|                Carter, Mr. William Ernest|                                         Carter, Mrs. William Ernest (Lucile Polk)|
|        B20|                   Dick, Mr. Albert Adrian|                                         Dick, Mrs. Albert Adrian (Vera Gillespie)|
|         E8|             Chambers, Mr. Norman Campbell|                                    Chambers, Mrs. Norman Campbell (Bertha Griggs)|
|       E121|                       Moor, Master. Meier|                                                                Moor, Mrs. (Beila)|
|        C92|                  Goldenberg, Mr. Samuel L|                                      Goldenberg, Mrs. Samuel L (Edwiga Grabowska)|
|        D35|             Beckwith, Mr. Richard Leonard|                                  Beckwith, Mrs. Richard Leonard (Sallie Monypeny)|
+-----------+------------------------------------------+----------------------------------------------------------------------------------+

In [22]:
#veriye yolcunun yaşına göre belirlenecek yeni bir kolon eklenmek isteniyor(AgeCategory). Kolon içeriğinde;
#0-10 yaş arası yolcular -> Çocuk
#11-18 yaş arası yolcular -> Genç
#19 ve üstü yolcular -> Yetişkin
#bilgisi yazılması isteniyor. Bu yeni kolonu ekleyiniz.
df_passengers.withColumn("AgeCategory", when(col("Age").between(0, 10), "Çocuk").when(col("Age").between(11, 18), "Genç").otherwise("Yetişkin")).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|AgeCategory|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|   Yetişkin|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|   Yetişkin|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|   Yetişkin|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|   Yetişkin|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|   Yetişkin|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|   Yetişkin|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|   Yetişkin|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|      Çocuk|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|   Yetişkin|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|       Genç|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|      Çocuk|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|   Yetişkin|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|   Yetişkin|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|   Yetişkin|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|       Genç|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|   Yetişkin|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|      Çocuk|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|   Yetişkin|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|   Yetişkin|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|   Yetişkin|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----------+
only showing top 20 rows

In [24]:
#spark'ta bir dataframe sorgu içnide de kullanılabilir. AgeCategory(bir üst sorunın çıktısı olan kolon) kolonuna göre yolcu sayısını veren SQL sorgunu düzenleyiniz.
df_passengers.createOrReplaceTempView("passengers")
spark.sql("select AgeCategory, count(*) as PassengerCount from (select *, case when age <= 10 then 'çocuk' when age <= 18 then 'genç' else 'yetişkin' end as AgeCategory from passengers) as t group by AgeCategory").show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|AgeCategory|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|   yetişkin|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|   yetişkin|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|   yetişkin|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|   yetişkin|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|   yetişkin|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|   yetişkin|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|   yetişkin|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|      çocuk|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|   yetişkin|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|       genç|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|      çocuk|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|   yetişkin|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|   yetişkin|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|   yetişkin|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|       genç|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|   yetişkin|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|      çocuk|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|   yetişkin|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|   yetişkin|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|   yetişkin|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+-----------+
only showing top 20 rows